@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

header {
    background-color: #25D964;
    text-align: center;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

#empty {
    text-align: center;
    color: rgb(128, 128, 128);
    margin: auto;
}

.hidden {
    display: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

dialog {
    margin: auto;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.3);
    width: 75%;
    height: 80%;
    text-align: center;
}

input[type="text"] {
    border: 10px solid #25D964;
    background-color: white;
    width: 80%;
    height: 14%;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    transition: 0.1s ease-in-out;
}
input[type="text"]:focus {
    border: 10px solid #25D964;
    outline: none;
}

#Enviar {
    border: none;
    background-color: #25D964;
    width: 40%;
    height: 10%;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4%;
    transition: 0.3s ease-in-out;
}
#Enviar:hover{
    background-color:#25D964;
    outline: none;
}

#Limpar {
    border: none;
    background-color: #25D964;
    width: 40%;
    height: 10%;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
#Limpar:hover{
    background-color:#25D964;
    outline: none;
}



#fecha {
    border: none;
    background-color: transparent;
    width: 45px;
    height: 45px;
    border-bottom-left-radius: 50%;
    font-family: "Montserrat";
    font-size: 2.5em;
    position: absolute;
    left: 93%;
}

textarea {
    border: 10px solid #25D964;
    border: 10px solid #25D964;
    background-color: white;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    padding: 5px;
    transition: 0.1s ease-in-out;
}
textarea:focus{
    border: 10px solid #25D964;
    outline: none;
}
.fa-circle-xmark{
    color: #25D964;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.fa-circle-xmark:hover{
    color: rgb(156, 156, 0);
    margin-right: 10px;
    cursor: pointer;
}

#abriMod {
    border: none;
    background-color: #25D964;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: "Montserrat";
    font-size: 1.5em;
    position: fixed;
    top: 80%;
    left: 80%;
}

.conteiner-posts {
    display: flex;
    flex-wrap: wrap;
    padding: 0px  15px 15px 15px;
    flex-direction: column-reverse;
}

#post {
    background-color: #25D964;
    word-wrap: break-word;
    width: 96vw;
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    background-color: #fffffffe;
    padding: 20px;
    word-break: break-all;
    text-overflow: ellipsis;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}


h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: 1;
    font-family: sans-serif;
    color: #777;
  }
#loader {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px); 
    height: 80px;
    display: none;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
top: calc(50% - 40px);
}
@keyframes animate {
0% { 
    transform: rotate(0deg)
}
100% { 
    transform: rotate(220deg)
}
}
#loader:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%; 
    height: 80px;
    width: 80px;
    position: absolute; 
} 
@keyframes animate2 {
    0% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #fff 0 0 0 2px;
    }
    100% {
        box-shadow: inset #fff 0 0 0 17px;
        transform: rotate(140deg);
    }
}

@media (max-width: 414px) {
    header{
        width: 444px;
    }
    #post{
        width: 397px;
    }
    dialog {
        width: 310px;
        height: 331px;
    }
    input[type="text"] {
        width: 248px;
        height: 14%;
    }
    textarea {
        width: 60%;
        height: 50%;
    }
    #fecha {
        width: 20px;
        height: 20px;
        left: 83%;
        font-size: 0.7em;
    }
}




